@model RED.Models.ElectronicDiary.DiaryW
@using System.Globalization;

<link href="~/Content/plugins/chosen/chosen.css" rel="stylesheet" />
<link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet" />
@{
    ViewBag.Title = "Create";
}

<link href="~/Content/plugins/iCheck/custom.css" rel="stylesheet" />
<link href="~/Content/Our/create-diary-custom.css" rel="stylesheet" />
<link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet" />
<link href="~/Content/plugins/clockpicker/clockpicker.css" rel="stylesheet" />

<h2>Добави писмо</h2>

@using (Html.BeginForm("Create", "Diary", FormMethod.Post, new { @class = "wizard-big", @id = "form"}))
{
    @Html.AntiForgeryToken()

    <div class="panel">
        <div class="panel-heading">
            <h3>Информация за писмото</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.LetterNumber)
                    <input class="form-control text-box single-line" id="LetterNumber" name="LetterNumber" value="@Model.LetterNumber">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" id="data_1">
                    @Html.LabelFor(model => model.LetterDate)
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input class="form-control text-box single-line" data-val="true" data-val-required="Датата на писмото е задължителна" id="LetterDate" name="LetterDate" type="datetime" value="@Model.LetterDate.ToString("dd.M.yyyy", CultureInfo.InvariantCulture)">
                    </div>
                    @Html.ValidationMessageFor(model => model.LetterDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.ClientId)
                    @Html.DropDownList("ClientId", null, htmlAttributes: new { @class = "form-control chosen-select" })
                    @Html.ValidationMessageFor(model => model.ClientId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Contractor)
                    @Html.EditorFor(model => model.Contractor, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Contractor, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" id="acceptance-date">
                    @Html.LabelFor(model => model.AcceptanceDateAndTime)
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input class="form-control text-box single-line" data-val="true" data-val-required="Полето &quot;Дата на приемане&quot; е задължително!" id="AcceptanceDateAndTime" name="AcceptanceDateAndTime" type="datetime" value="@Model.AcceptanceDateAndTime.ToString("dd.M.yyyy", CultureInfo.InvariantCulture)">
                    </div>
                    @Html.ValidationMessageFor(model => model.AcceptanceDateAndTime, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.AcceptanceTime)
                    <div class="input-group time" data-autoclose="true">
                        <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                        <input type="text" class="form-control" id="AcceptanceTime" name="AcceptanceTime" value="@Model.AcceptanceTime">
                    </div>
                    @Html.ValidationMessageFor(model => model.AcceptanceTime, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
        
    <div class="clearfix"></div>

    <div class="panel">
        <div class="panel-heading">
            <h3>Информация за продуктите</h3>
        </div>
        <div class="panel-body">
            <div class="col-sm-5 col-md-5">
                <div class="form-group">
                    <label for="Products">Наименование</label>
                    <input type="text" id="Products" onchange="hideNameValidation()" class="form-control text-box single-line" tabindex="1" />
                    <span class="text-danger field-validation-error" data-valmsg-replace="true"><span class="product-name-validation collapse">Наименованието е задължително</span></span>
                </div>
            </div>
            <div class="col-sm-4 col-md-5">
                <div class="form-group">
                    <label for="Quantity">Количество</label>
                    <input class="form-control text-box single-line" onchange="hideQuantityValidation()" id="Quantity" name="Quantity" type="text" tabindex="2" />
                    <span class="text-danger field-validation-error" data-valmsg-replace="true"><span class="product-quantity-validation collapse">Количеството е задължително</span></span>
                </div>
            </div>
            <div class="col-sm-3 col-md-2">
                <div class="form-group">
                    <input type="button" value="Добави" class="add-product-btn btn btn-primary btn-block" style="margin-top:24.5px;" tabindex="5" />
                </div>
            </div>
            <div class="col-md-12 product-list-table-container">
                <table class="table table-hover product-list-table" style="margin-top:23px;">
                    <thead>
                        <tr>
                            <th class="col-sm-3 col-md-2">№</th>
                            <th class="col-sm-5 col-md-5">Наименование</th>
                            <th class="col-sm-4 col-md-5">Количество</th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/plugins/iCheck/icheck.min.js"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>
<script src="~/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="~/Scripts/plugins/clockpicker/clockpicker.js"></script>
<script src="~/Scripts/Our/Helpers.js"></script>
<script src="~/Scripts/Our/DiaryWizzard.js"></script>

<script>
    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "95%" }
    }

    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>

