@model RED.Models.ElectronicDiary.DiaryW

@{
    ViewBag.Title = "Create";
}

<h2>Добави</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Писмо</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Contractor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contractor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Contractor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="RoleId">Клиент</label>
            <div class="col-md-10">
                @Html.DropDownList("ClientId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ClientId, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-md-2" for="Products">Продукт</label>
            <div class="col-md-10">
                <div class="input-group" style="width:100%;">
                    <div style="margin-bottom:15px;">
                        <input type="text" placeholder="Въведи..." id="Products" class="form-control text-box single-line" tabindex="4">
                        <div class="clearfix"></div>
                    </div>
                    <ol class="product-list dd-list">
                    </ol>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="/Diary/Index" class="btn btn-default">Отказ</a>
                <input type="submit" value="Създай" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<link href="~/Content/plugins/chosen/chosen.css" rel="stylesheet" />
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

<script>
    $('#Products').keypress(function (e) {
        var key = e.which;
        if (key == 13) 
        {
            var html = $('.product-list').html();

            var liHolder = $('<li class="dd-item" data-id="3"><div class="dd-handle"><span class="label label-info" style="margin-right:8px;"><i class="fa fa-bolt"></i></span>' + $('#Products').val() + '</div></li>');
            var x = $('<span class="pull-right remove-choice"><i class="fa fa-times"></i></span>');

            x.on('click', function () {
                $(this).parent().parent().remove();
            })

            liHolder.find('.dd-handle').append(x);

            //html += '<li class="dd-item" data-id="3"><div class="dd-handle"><span class="pull-right remove-choice"><i class="fa fa-times"></i></span><span class="label label-info" style="margin-right:8px;"><i class="fa fa-bolt"></i></span>' + $('#Products').val() + '</div></li>';
            //$('.product-list').html(html);

            $('.product-list').append(liHolder);
            $('#Products').val('');
            return false;
        }
    });
</script>

