@model RED.Models.ElectronicDiary.DiaryW
@using System.Globalization;
<link href="~/Content/plugins/chosen/chosen.css" rel="stylesheet" />
<link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet" />
@{
    ViewBag.Title = "Create";
}



<h2>Добави</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Писмо</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*<label class="control-label col-md-2" for="@Model.LetterNumber">Писмо №</label>*@
            @Html.LabelFor(model => model.LetterNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LetterNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LetterNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" id="data_1">
            @Html.LabelFor(model => model.LetterDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input class="form-control text-box single-line" data-val="true" data-val-required="Датата на писмото е задължителна" id="LetterDate" name="LetterDate" type="datetime" value="@DateTime.Now.ToString("dd.M.yyyy", CultureInfo.InvariantCulture)">
                </div>
                @Html.ValidationMessageFor(model => model.LetterDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Contractor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contractor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Contractor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="ClientId">Клиент</label>
            <div class="col-md-10">
                @Html.DropDownList("ClientId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ClientId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="ibox float-e-margins col-md-10 col-md-offset-2">
            <div class="ibox-title">
                <h5>Продукт за изпитване</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content" style="border-bottom: 1px solid #e7eaec;">
                <div class="form-group">
                    <label class="control-label col-md-2" for="Products">Наименование</label>
                    <div class="col-md-10">
                        <input placeholder="Име на продукта"  type="text" id="Products" class="form-control text-box single-line" tabindex="1">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="Quantity">Количество</label>
                    <div class="col-md-2">
                        <input placeholder="Брой" class="form-control text-box single-line" data-val="true" data-val-number="Полето трябва да е число" data-val-range="Невалидно число" data-val-range-max="2147483647" data-val-range-min="0" id="Quantity" name="Quantity" type="number" tabindex="2">
                        <span class="text-danger field-validation-valid" data-valmsg-for="Quantity" data-valmsg-replace="true"></span>
                    </div>
                    <div class="col-md-8">
                        <input placeholder="Пояснение" class="form-control text-box single-line" id="QuantityLabel" name="QuantityLabel" type="text" tabindex="3">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="Test">Изследване</label>
                    <div class="col-md-10">
                        <select id="Test" data-placeholder="Choose a Country..." class="form-control chosen-select" tabindex="4" >
                            @foreach (var item in ViewBag.Tests)
                            {
                                <option value="@item.Value">@item.Text</option>
                                
                            }
                        </select>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Добави" class="add-product-btn btn btn-primary" tabindex="5" />
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <table class="table table-hover product-list-table">
                <tbody></tbody>
            </table>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="/Diary/Index" class="btn btn-default">Отказ</a>
                <input type="submit" value="Създай" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>
<script src="~/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>
<script>
    var count = 0;

    $('#data_1 .input-group.date').datepicker({
        format: "dd.m.yyyy",
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true
    });

    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "95%" }
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
    
    $('.add-product-btn').click(function () {

        if ($('#Products').val() == '') {
            return false;
        }

        if($('#Quantity').val() == '') {
            return false;
        }

        if($('#QuantityLabel').val() == ''){
            return false;
        }

        //var html = $('.product-list').html();

        //html += '<li>';
        //html += '<span>' + $('#Products').val() + '</span>';
        //html += '<input type="hidden" value="' + $('#Products').val() + '" name="Products[' + count + '].Name">';
        //html += '<input type="hidden" value="' + $('#Quantity').val() + '" name="Products[' + count + '].Quantity">';
        //html += '<input type="hidden" value="' + $('#QuantityLabel').val() + '" name="Products[' + count + '].QuantityLabel">';
        //html += '<input type="hidden" value="' + $('.chosen-select').val() + '" name="Products[' + count + '].Test.Id">';
        //html += '</li>';
        //$('.product-list').html(html);

        var content = '<tr><td class="col-md-2"><span class="label label-primary">Добавен</span></td>' +
            '<td class="issue-info">' +
                $('#Products').val() +
                '<input type="hidden" value="' + $('#Products').val() + '" name="Products[' + count + '].Name"></td><td class="col-md-2">' +
                $('#Quantity').val() + ' ' + $('#QuantityLabel').val() +
                '<input type="hidden" value="' + $('#Quantity').val() + '" name="Products[' + count + '].Quantity"><input type="hidden" value="' + $('#QuantityLabel').val() + '" name="Products[' + count + '].QuantityLabel"></td><td>' +
                $('.chosen-select option:selected').text() +
                '<input type="hidden" value="' + $('.chosen-select').val() + '" name="Products[' + count + '].TestId"></td><td class="col-md-1 text-center"><a class="delete-product" onclick="deleteProduct(this)" ><h3>x</h3></a></td></tr>';

        $('.product-list-table tbody').append(content);


        count++;

        $('#Products').val('');
        $('#Quantity').val('');
        $('#QuantityLabel').val('');
    });

    function deleteProduct(e) {
        //var event = e.target || e.srcElement;
        $(e).parent().parent().remove();
        count--;
    }

</script>

