@model RED.Models.ElectronicDiary.DiaryW

@{
    ViewBag.Title = "Create";
}

<h2>Добави</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Писмо</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Contractor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contractor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Contractor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="RoleId">Клиент</label>
            <div class="col-md-10">
                @Html.DropDownList("ClientId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ClientId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="ibox float-e-margins col-md-10 col-md-offset-2">
            <div class="ibox-title">
                <h5>Продукт за изпитване</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content" style="border-bottom: 1px solid #e7eaec;">
                <div class="form-group">
                    <label class="control-label col-md-2" for="Products">Наименование</label>
                    <div class="col-md-10">
                        <input type="text" placeholder="Въведи..." id="Products" class="form-control text-box single-line" tabindex="4">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="Quantity">Количество</label>
                    <div class="col-md-10">
                        <input type="text" placeholder="Въведи..." id="Quantity" class="form-control text-box single-line" tabindex="4">
                        <input type="text" placeholder="Въведи..." id="QuantityLabel" class="form-control text-box single-line" tabindex="4">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="Products">Изследване</label>
                    <div class="col-md-10">
                        <select data-placeholder="Choose a Country..." class="chosen-select" style="width: 350px; /* display: none; */" tabindex="-1">
                            @foreach (var item in ViewBag.Tests)
                            {
                                <option value="@item.Value">@item.Text</option>
                                
                            }
                        </select>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Добави" class="add-product-btn btn btn-primary" />
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <ul class="product-list">
            </ul>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="/Diary/Index" class="btn btn-default">Отказ</a>
                <input type="submit" value="Създай" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<link href="~/Content/plugins/chosen/chosen.css" rel="stylesheet" />
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

<script>
    var count = 0;

    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "95%" }
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
    
    $('.add-product-btn').click(function () {
        var html = $('.product-list').html();

        html += '<li>';
        html += '<span>' + $('#Products').val() + '</span>';
        html += '<input type="hidden" value="' + $('#Products').val() + '" name="Products[' + count + '].Name">';
        html += '<input type="hidden" value="' + $('#Quantity').val() + '" name="Products[' + count + '].Quantity">';
        html += '<input type="hidden" value="' + $('#QuantityLabel').val() + '" name="Products[' + count + '].QuantityLabel">';
        html += '<input type="hidden" value="' + $('.chosen-select').val() + '" name="Products[' + count + '].Test.Id">';
        html += '</li>';
        $('.product-list').html(html);
        count++;
    });
</script>

