@model IEnumerable<RED.Models.ElectronicDiary.DiaryW>
@using System.Globalization;
@{
    ViewBag.Title = "Index";
}

<h2>Дневник</h2>

<p>
    <a href="/Diary/Create">
        <i class="fa fa-plus"></i>
        Добави писмо
    </a>
</p>
<div class="panel-group" id="accordion">
    @foreach (var item in Model)
    {
        <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion" href="#@item.Id" aria-expanded="false" class="text-muted collapsed">
                <div class="panel-heading">
                    <h5 class="panel-title">
                           №: @item.Number / @item.LetterInfo /
                           Клиент:  @item.Client.Name
                    </h5>
                </div>
            </a>
            <div id="@item.Id" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                    <div class="animated fadeInDown">
                        <div class="ibox-content">
                            <div class="row">
                                <h4 class="text-navy text-center">@item.LetterInfo</h4>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h5>От:
                                        <strong>@item.Client.Name</strong><br>
                                    </h5>
                                    <h5>
                                        Възложител:
                                        <strong>@Html.DisplayFor(modelItem => item.Contractor)</strong><br>
                                    </h5>
                                </div>

                                <div class="col-sm-6 text-right">
                                    <h5>№: <strong>@item.Number</strong></h5>
                                    <h5>Дата на приемане: <strong>@item.AcceptanceDateAndTime.ToString("dd.M.yyyy", CultureInfo.InvariantCulture)</strong></h5>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <h4 class="text-navy text-center">Заяква №: @item.Number</h4>
                                    </div>
                                    <div class="row">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="text-left">Наименoвание</th>
                                                    <th class="text-left">Количество</th>
                                                    <th class="text-right">Показател за изпитване</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var product in item.Products)
                                                {
                                                    <tr>
                                                        <td>
                                                            <span>@product.Name</span>
                                                        </td>
                                                        <td class="text-center">
                                                            <span>@product.Quantity @product.QuantityLabel</span>
                                                        </td>
                                                        <td class ="text-right">
                                                            <span>@product.Test.Name</span>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>

                                        <h5>Срок на изпитване (дни): <strong></strong></h5>

                                        <div class="status-container">
                                            @if(item.Request == null)
                                            {
                                                <button id="@item.Id" class="btn btn-primary btn-request"><i class="fa fa-tag"></i> Направи заявка</button>
                                            }
                                            else
                                            {
                                                if(item.Request.IsAccepted)
                                                {
                                                    string name = item.Request.User.FirstName.Substring(0, 1) + ". " + item.Request.User.LastName;
                                                    <h5>Приел пробата: <strong>@name</strong></h5>
                                                    <h5>Дата на приемане: <strong>@item.Request.Date.ToString("dd.M.yyyy", CultureInfo.InvariantCulture)</strong></h5>
                                                }
                                                else
                                                {
                                                    <div class="alert alert-success">
                                                        Заявката е в очакване да бъде приета.
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-right">
                                @*<button class="btn btn-primary"><i class="fa fa-dollar"></i> Добави фактура</button>
                                <button class="btn btn-primary"><i class="fa fa-dollar"></i> Издай протокол</button>*@
                            </div>

                            <div class="well m-t">
                                <strong>Бележка:</strong>
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script>
    $('.btn-request').click(function () {
        var diaryId = $(this).attr('id');
        $.ajax({
            type: "POST",
            url: '/Diary/GenerateRequest?diaryId=' + diaryId,
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                if (data == 'Ok') {
                    var html = '<div class="alert alert-success">Заявката е в очакване да бъде приета.</div>';
                }
                else {
                    var html = '<div class="alert alert-danger">Възникна грешка при генерирането на заявката.</div>';
                }

                $('.status-container').html(html);
            }
        });
    });
</script>