@model RED.Models.LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@{
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}

<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <img src="~/Images/android-chrome-192x192.png" style="margin-bottom:20px;"/>
            @*<h1 class="logo-name">РВС</h1>*@

        </div>
        <h3>Добре дошли</h3>
        <p>в Електрронния дневник - РВС</p>
        @*@foreach (var item in ViewData.ModelState)
        {
            if (item.Value.Errors.Any())
            {
                foreach (ModelError e in item.Value.Errors)
                {
                    <div style="border: 1px solid red;margin-bottom:5px;">
                        @e.ErrorMessage
                    </div>
                }
            }
        }*@
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "m-t", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Потребителско име" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Парола" })
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Вход</button>
        }
        <p class="m-t"> <small>All rights reserved mINC © 2015</small> </p>
    </div>
</div>